.navigation {
    margin: 25px;
    margin-top: 5px;
}

.logo-text {
    color: #378524;
    margin-right: 12px;
}

.log-in {
    margin: 60px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.centered-body {
    text-align: center;
}

.double-centered {
    display: inline-block;
}

.main-body {
    width: 98%;
    padding-left: 2%;
    margin-bottom: 25px;
}

.footer {
    margin-top: 40px;
    margin-bottom: 0px;
}

.trip-description {
    height: 75%;
}

.trip-details {
    height: 100%;
}